#container {
    /* Desktop - 1 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: fixed;
    width: 1440px;
    height: 3995px;

    background-image: url(/assets/The-Incredible-Beauty-of-Salt-Desert-Transformed-Into-Gigantic-Mirror-15-1782704763.jpg);

    #header {
        /* Header */

        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;

        /* identical to box height */

        color: #3974AA;

        width: 347px;
        height: 39px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        
    }
    #sessao-desenho{
        /* Sessão Desenho */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        width: 1144px;
        height: 458px;


        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        .titulo{
            /* subtitulo */

            width: 210px;
            height: 28px;

            font-family: 'Comic Sans MS';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;

            /* identical to box height */

            color: #000000;


            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        .sessao-desenhos-digitais{
            /* Sessão Desenho Digital */

            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 9px;

            width: 1144px;
            height: 207px;


            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
            .subtitulo{
                /* no digital: */

                width: 82px;
                height: 31px;

                font-family: 'Papyrus';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 31px;

                color: #000000;


                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
            }
            .linha-desenhos{
                /* Coluna Desenhos */

                /* Auto layout */
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 75px;

                width: 1053px;
                height: 207px;


                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;
                .desenho1{
                    /* desenho 1 */

                    box-sizing: border-box;

                    width: 207px;
                    height: 207px;

                    background-image: url(/assets/[2023-01-10].png);
                    border: 2px solid #3974AA;
                    border-radius: 25px;

                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
                .desenho2{
                    /* desenho 2 */

                    box-sizing: border-box;

                    width: 207px;
                    height: 207px;

                    background-image: url(/assets/1486516_andreanimator_lilith.png);
                    border: 2px solid #3974AA;
                    border-radius: 25px;

                    /* Inside auto layout */
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                }
                .desenho3{
                    /* desenho 3 */

                    box-sizing: border-box;

                    width: 207px;
                    height: 207px;

                    background-image: url(/assets/iu_345792_8259593.png);
                    border: 2px solid #3974AA;
                    border-radius: 25px;

                    /* Inside auto layout */
                    flex: none;
                    order: 2;
                    flex-grow: 0;
                }
                .desenho4{
                    /* desenho 4 */

                    box-sizing: border-box;

                    width: 207px;
                    height: 207px;

                    background-image: url(/assets/1921593_andreanimator_helvetica-standard-bunny.png);
                    border: 2px solid #3974AA;
                    border-radius: 25px;

                    /* Inside auto layout */
                    flex: none;
                    order: 3;
                    flex-grow: 0;
                }
            }
        }
    }
}