@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --rotation: random(20deg, -20deg);
}

code {
    @variant dark {
        color: var(--color-gray-400);
    }
}

a {
    @variant dark {
        color: var(--color-gray-400);
    }
}

h1 {
    @variant dark {
        color: var(--color-gray-50);
    }
}

h2 {
    @variant dark {
        color: var(--color-gray-50);
    }
}

p {
    @variant dark {
        color: var(--color-zinc-500);
    }
}

.background-light {
    background: url("/images/background-light.webp") repeat 0 0;
    animation: animate-bg 2s infinite linear;
    @variant dark {
        background: url("/images/background-dark.webp") repeat 0 0;
    }
}

.active {
    background-color: var(--color-amber-600) /* #fff = #ffffff */;
    color:aliceblue;
    @variant dark {
        background-color: var(--color-emerald-500) /* oklch(27.8% 0.033 256.848) = #1e2939 */;
    }
}

@keyframes  animate-bg {
  100% {
    background-position: 200px 200px;
  }
}

.wave-text span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1.0s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.spin-text span {
    animation: spin 2s ease-in-out infinite;
}

.spin-text span:nth-child(1) {
    animation-delay: 0s;
}
.spin-text span:nth-child(2) {
    animation-delay: 0.6s;
}
.spin-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.spin-text span:nth-child(4) {
    animation-delay: 0.2s;
}
.spin-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.spin-text span:nth-child(6) {
    animation-delay: 1.0s;
}

@keyframes spin {
    50% {
        rotate:random(20deg, -20deg);
    }
    100% {
        rotate:random(20deg, -20deg);
    }
}