@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --rotation: random(20deg, -20deg);
}

code {
    @variant dark {
        color: var(--color-gray-400);
    }
}

a {
    @variant dark {
        color: var(--color-gray-100);
    }
}

h1 {
    @variant dark {
        color: var(--color-gray-50);
    }
}

h2 {
    @variant dark {
        color: var(--color-gray-50);
    }
}

p {
    @variant dark {
        color: var(--color-zinc-500);
    }
}

.background-light {
    background: url("/images/background-light.webp") repeat 0 0;
    animation: animate-bg 2s infinite linear;
    @variant dark {
        background: url("/images/background-dark.webp") repeat 0 0;
    }
}

.active {
    background-color: var(--color-amber-600) /* #fff = #ffffff */;
    color:aliceblue;
    @variant dark {
        background-color: var(--color-emerald-500) /* oklch(27.8% 0.033 256.848) = #1e2939 */;
    }
}

@keyframes  animate-bg {
  100% {
    background-position: 200px 200px;
  }
}

.wave-text span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1.0s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.spin-text span {
    animation: spin 2s ease-in-out infinite;
}

.spin-text span:nth-child(1) {
    animation-delay: 0s;
}
.spin-text span:nth-child(2) {
    animation-delay: 0.6s;
}
.spin-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.spin-text span:nth-child(4) {
    animation-delay: 0.2s;
}
.spin-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.spin-text span:nth-child(6) {
    animation-delay: 1.0s;
}

@keyframes spin {
    50% {
        rotate:random(20deg, -20deg);
    }
    100% {
        rotate:random(20deg, -20deg);
    }
}

:root {
  --no-of-slides: 5;
  --slides-in-view: 1;
  --slide-width: 200px;
  --slide-height: 300px;
  --iteration-time: 10s;
}

@media screen and (min-width: 300px) {
    :root{
        --slides-in-view: 1;
    }
}

@media screen and (min-width: 500px) {
    :root{
        --slides-in-view: 2;
    }
}

@media screen and (min-width: 700px) {
    :root{
        --slides-in-view: 3;
    }
}

@media screen and (min-width: 900px) {
    :root{
        --slides-in-view: 4;
    }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
  }
}

.carousel__wrapper {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  
  width: calc(var(--slides-in-view) * var(--slide-width));
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  padding: 100px 0;
  
  overflow: hidden;
  width: calc(2 * var(--no-of-slides));
}

.carousel__slide {
  animation: scroll var(--iteration-time) linear infinite;
  display: flex;
  flex-direction: column;
  
  flex: 0 0 auto;
  width: var(--slide-width);
  height: var(--slide-height);
  box-sizing: border-box;
}

.carousel__image {
  background-size: contain;
  background-repeat: no-repeat;
  
  height: 50%;
  /*width: 100px;*/
  margin: 15px 20px;
}